graft src/redturtle
graft docs
include *.rst
include LICENSE.GPL
global-exclude *.pyc
exclude .gitlab-ci.yml
exclude constraints.txt
exclude constraints_plone43.txt
exclude constraints_plone50.txt
exclude constraints_plone51.txt
exclude constraints_plone52.txt
exclude requirements.txt
exclude tox.ini
exclude .flake8
prune src/redturtle/chefcookie/browser/static/chefcookie/_build
prune src/redturtle/chefcookie/browser/static/chefcookie/node_modules
prune src/redturtle/chefcookie/locales/__pycache__
